@{
	Layout = "/Views/Shared/_SiteLayout.cshtml";
}

@model List<CoreAndFood.Models.Food>
<div class="banner">
    <div class="w3l_banner_nav_left">
        <nav class="navbar nav_bottom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            @await Component.InvokeAsync("GetCategoryList")

            <!-- /.navbar-collapse -->
        </nav>
    </div>
	<div class="agile_top_brands_grids">
		<div class="col-md-3">
			<div style="display:flex; justify-content:space-between;">
				@foreach (var x in @Model)
				{
					<div class="agile_top_brand_left_grid" style="margin-right:40px">
						<div class="tag"><img src="~/web/images/tag.png" alt=" " class="img-responsive" /></div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="single.html"><img style="height:100px; width:200px" title=" " alt=" " src="@x.ImgUrl" /></a>
										<p>@x.Name</p>
										<h4> $ @x.Price <span>5,99</span></h4>
									</div>
									<div class="snipcart-details top_brand_home_details">
										<form action="checkout.html" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
												<input type="hidden" name="amount" value="7.99" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				}
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
    <div class="clearfix"></div>
</div>

